/* Peyda Non English Web Font - Font Face Declarations */

@font-face {
	font-family: 'PeydaNoEnWeb';
	src: url('woff2/PeydaNoEnWeb-Thin.woff2') format('woff2'),
		 url('woff/PeydaNoEnWeb-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PeydaNoEnWeb';
	src: url('woff2/PeydaNoEnWeb-ExtraLight.woff2') format('woff2'),
		 url('woff/PeydaNoEnWeb-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PeydaNoEnWeb';
	src: url('woff2/PeydaNoEnWeb-Light.woff2') format('woff2'),
		 url('woff/PeydaNoEnWeb-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PeydaNoEnWeb';
	src: url('woff2/PeydaNoEnWeb-Regular.woff2') format('woff2'),
		 url('woff/PeydaNoEnWeb-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PeydaNoEnWeb';
	src: url('woff2/PeydaNoEnWeb-Medium.woff2') format('woff2'),
		 url('woff/PeydaNoEnWeb-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PeydaNoEnWeb';
	src: url('woff2/PeydaNoEnWeb-SemiBold.woff2') format('woff2'),
		 url('woff/PeydaNoEnWeb-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PeydaNoEnWeb';
	src: url('woff2/PeydaNoEnWeb-Bold.woff2') format('woff2'),
		 url('woff/PeydaNoEnWeb-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PeydaNoEnWeb';
	src: url('woff2/PeydaNoEnWeb-ExtraBold.woff2') format('woff2'),
		 url('woff/PeydaNoEnWeb-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PeydaNoEnWeb';
	src: url('woff2/PeydaNoEnWeb-Black.woff2') format('woff2'),
		 url('woff/PeydaNoEnWeb-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PeydaNoEnWeb';
	src: url('woff2/PeydaNoEnWeb-ExtraBlack.woff2') format('woff2'),
		 url('woff/PeydaNoEnWeb-ExtraBlack.woff') format('woff');
	font-weight: 950;
	font-style: normal;
	font-display: swap;
}